<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link href="http://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.9.0/css/nanogallery.min.css" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.9.0/css/themes/clean/nanogallery_clean.min.css" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.9.0/css/themes/light/nanogallery_light.min.css" rel="stylesheet">

<script src="http://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.9.0/jquery.nanogallery.min.js"></script>
