<script type="text/javascript">
  var BASE_URL = '{{ site.url }}';
</script>

<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/nanogallery/5.9.0/jquery.nanogallery.min.js"></script> -->

<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>


{% if page.layout == "documentation" %}
  <script src="{{ site.url }}/assets/js/plugins/jquery.nanotoc.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      jQuery.nanoToc('#nanodocumentation');
    });
  </script>
{% endif %}

<script>
console.log('-7');
console.dir( "{{ page.text_rotator  }}" );
</script>

{% if page.text_rotator %}
  <script src="http://brisbois.fr/ngy2/assets/js/plugins/morphist.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#js-rotating").Morphist({
        // The entrance animation type (In).
        animateIn: "tada",
        // The exit animation type (Out). Refer to Animate.css for a list of available animations.
        animateOut: "bounceOut",
        // The delay between the changing of each object in milliseconds.
        speed: 2000
      });
    });
  </script>
{% endif %}




{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 'https://www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  

</script>
{% endif %}
